{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="title">
    <h1>みんなの単語帳</h1>
</div>
<div class="main">
    <div class="card-list">
        <div class="card-links">
            {% if page_obj.has_previous %}
                <div>
                    <a href="?page=1">&laquo; first</a>
                </div>
                <div>
                    <a href="?page={{ page_obj.previous_page_number }}">prev</a>
                </div>
            {% else %}
                <div></div>
                <div></div>
            {% endif %}

            <div>
                <span class="current">
                    Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
            </div>

            {% if page_obj.has_next %}
                <div>
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                </div>
                <div>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </div>
            {% else %}
                <div></div>
                <div></div>
            {% endif %}
        </div>
        {% for wordbook in object_list %}
        <div class="card">
            <nav class="card-nav">
                <ul class="card-nav-menu">
                    <a class="red-link" href="{% url 'english:typing' wordbook.id %}"><i class="fas fa-keyboard"></i> タイピング</a>
                </ul>
            </nav>
            <div class="card-body">
                <h1>{{ wordbook.name }}</h1>
                <p>{{ wordbook.description }}</p>
                <p>by {{ wordbook.user.username }}</p>
            </div>
            <div class="card-footer">
                <small>更新日:{{ wordbook.update_at }}</small>
            </div>
        </div>
        {% endfor %}
    </dv>
</div>
{% endblock content %}