{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="title">
    <h1>パスワード更新</h1>
</div>
<div class="main">
    <div class="password-reset-form">
        {% if form.errors %}
            <div class="password-reset-form-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <form method="post" novalidate>
        {% csrf_token %}
        {{ form.password }}
        {{ form.confirm_password }}
        <input class="large-submit" type="submit" value="更新">
        </form>
    </div>
</div>
{% endblock content %}