//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// モーダル共通
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.modal {
    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: #2a3644;
        color: #fff;
        width: 320px;
        padding: 40px 40px;
        border-radius: 10px;
        
        & form {
            display: flex;
            flex-direction: column;
        }
        
        & input {
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    
        /* books.html */
        & th {
            vertical-align: middle;
        }
        
        & a {
            display: block;
            width: 100px;
        }
        
        & td {
            text-align: left;
            height: 50px;
        }
    }
    
}

#modal-body-btn {
    display: flex;
    justify-content: space-between;

    & a {
        width: 100px;
    }
}

#closeBtn {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
}


/* ログインモーダル */
#mask-login {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;

    &.hidden {
        display: none;
    }
}


#modal-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 21;
    transition: 0.5s;

    &.hidden {
        transform: translate(-50%, -800px);
    }
}


/* 新規登録モーダル */
#mask-regist {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;

    &.hidden {
        display: none;
    }
}

#modal-regist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 21;
    transition: 0.5s;

    &.hidden {
        transform: translate(-50%, -800px);
    }
}

/* メッセージモーダル */
#mask-message {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;

    &.hidden {
        display: none;
    }
}


#modal-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 21;
    transition: 0.5s;

    &.hidden {
        transform: translate(-50%, -800px);
    }
}
